[Unit]
Description=Check the testbed if the nightly lease is on, and turn it off if not busy

[Service]
Type=oneshot
ExecStart=/usr/bin/python /root/r2lab-embedded/nightly/nightly.py
TimeoutStartSec=3600
# the nightly should do this, but as a safety in case it hangs...
ExecStopPost=/usr/local/bin/rhubarbe bye
TimeoutStopSec=300
